@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Poppins */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Nunito */

* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}


/* index.php */
/* ----------------------------------------------------------------------- */
.container {
    position: relative;
    margin: 2% 50% 0 50%;
    width: 80%;
    height: 500px;
    overflow: auto;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
}
.title {
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
}
#addMeses {
    color: #fff;
    font-size: 20px;
    background-color: #000;
    padding: 5px 20px;
    border-radius: 15px;
    border: solid .5px #000;
    text-transform: uppercase;
    transition: all .5s;
}
#addMeses:hover {
    cursor: pointer;
    color: #000;
    background-color: #fff;
}
.recentesTable {
    overflow-x: auto;
    margin-bottom: 20px;
  }
  
.recentesTable table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 16px;
}
.recentesTable th, .recentesTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
  
.recentesTable th {
    background-color: #f0f0f0;
    color: #333;
}
  
.recentesTable tr:nth-child(even) {
    background-color: #f9f9f9;
}
.acoes {
    display: flex;
}
#deleteInfo {
    margin-left: 20px;
    font-size: 15px;
    color: #000;
    padding: 2px 15px;
    border: solid 1px;
    border-radius: 10px;
    background-color: #fff;
    transition: all .5s;
}
#deleteInfo:hover {
    cursor: pointer;
    background-color: #ff0000;
    color: #fff;
    border: solid 1px #ff0000;
}
#editInfo {
    margin-left: 5px;
    font-size: 15px;
    color: #000;
    padding: 2px 15px;
    border: solid 1px;
    border-radius: 10px;
    background-color: #fff;
    transition: all .5s;
}
#editInfo:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

