
/* Navbar */
.Navbar {
    width: 80%;
    justify-content: space-between;
    margin: 3% 50% 1% 50%;
    display: flex;
    text-transform: uppercase;
    /* border: solid 2px; */
    transform: translate(-50%, -50%);
}
.logo {
    text-align: center;
    display: flex;
}
.logo #calc {
    margin-left: 20px;
    margin-right: 10px;
    width: 20px;
}
.linkBar {
    align-items: center;
    text-align: center;
}
a {
    color: #000;
    text-decoration: none;
}
.linkBar ul {
    display: flex;
}
.linkBar li {
    margin-right: 20px;
    list-style-type: none;
}
.linkBar li:hover {
    border-bottom: solid 1px;
    cursor: pointer;
    transform: translateY(-2px);
}
hr {
    width: 50%;
    border: solid 1px #000;
    margin: 0 50% 2% 50%;
    transform: translate(-50%, -50%);
}
